<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeaZl6w3En7VNITpHyCefGFGB7wUCsFYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1087764837980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myhuyen.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-98e73</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-98e73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087764837980:ios:4705559465ea46ca411899</string>
</dict>
</plist>